!!!
%html
  %head
    %title Tulalens
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{src: "https://www.google.com/jsapi"}
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-bars
          %a.navbar-brand.page-scroll{:href => "#{root_path}"}
            %i.fa.fa-play-circle
            Tulalens
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          %ul.nav.navbar-nav
            / Hidden li included to remove active class from about link when scrolled up past about section
            %li.hidden
              %a{:href => "#page-top"}
            %li
              =link_to "All Questions", questions_path
            %li
              =link_to "All Surveys", surveys_path
    .container
      = yield